<app-loading *ngIf="loading && !error"></app-loading>

<div *ngIf="error" class="alert alert-danger" role="alert">
    <h3>Error</h3>
    <p>
        {{errorMessage}}
    </p>
</div>

<div *ngIf="!loading" class="card text-white bg-dark mb-3 m-5 mx-auto display:block" style="width: 18rem;">
    <div class="text-center text-white m-3 animated fadeIn">
        <img class="card-img-top mx-auto d-block" [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-white">{{artista.name}}</h5>
            <p class="card-text text-white">{{artista.genres[0] | uppercase}}</p>
            <a [href]="artista.external_urls.spotify" target="_blank" class="btn btn-primary">Ir a la pagina del artista</a>
            <p></p>
            <a href="home" class="btn btn-outline-danger">Go back home</a>
        </div>
    </div>
</div>

<div class="containe">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <table class="table table-responsive table-black text-white table-striped">
                <thead>
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Album</th>
                        <th scope="col">Cancion</th>
                        <th scope="col">Vista Previa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let track of topTracks">
                        <th scope="row">
                            <img [src]="track.album.images | noimage" class="card-img-top" class="img-thumb">
                        </th>
                        <td>{{track.album.name}}</td>
                        <td>{{track.name}}</td>
                        <td>
                            <iframe [src]="track.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
